* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    height: 80px;
    align-content: center;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header .container .right-side {
    text-align: right;
    align-content: center;

}

header .container .right-side a {

    border-radius: 8px;
    padding: 10px 18px;
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
  font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;


}